:root { 
    /* couleur d'accent */
  --lilas:    #CDA8CC;
  --rose:     #A45166;
  --tempete:  #4C6092;
  --petrole:  #20576C;
  --givre:    #79B7BF;
  --terre:    #511A00;
    /* Neutres pour le fond et texte */
  --bg-page:      #f8f9fa;
  --bg-card:      #ffffff;
  --text-main:    #1a1a1a;
  --bordure:      #e0e0e0;
  --font-title: 'catchy-mager', sans-serif;
  --font-body: 'Arial', sans-serif;}

    /* polices */
  @font-face { font-family: 'catchy-mager'; src: url('./font/catchy-mager.otf') format('opentype');}


.lilas { background: var(--lilas); }
.rose { background: var(--rose); }
.tempete { background: var(--tempete); }
.petrole { background: var(--petrole); }
.givre { background: var(--givre); }
.terre { background: var(--terre); }
.bg-page { background: var(--bg-page); }
.bg-card { background: var(--bg-card); }
.text-main { background: var(--text-main); }
.bordure { background: var(--bordure); }

/* titre */
.title-main {font-family: var(--font-title);}

/*-- PAGE COULEUR -- */
.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 2px solid var(--bordure);
}
.palette-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 5px; 
}
.palette-title {
  font-family: var(--font-title); 
  font-size: 18px;
  margin-top: 24px;
  padding-bottom: 6px;
  border-bottom: 2px solid var(--bordure);
  text-align: left;
  margin-right: 20px;
  margin-bottom: 5px;
  width: 100%;
}
.color-card {
  background: var(--bg-card);
  border-radius: 12px;
  padding: 10px;
  border: 1px solid var(--bordure);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 130px; 
}
.color-box { 
  width: 100%;
  height: 80px; 
  border-radius: 10px; 
  margin-bottom: 10px;
  box-shadow: inset 0 0 0 1px var(--bordure);
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}
